<% results.forEach((result)=> { %>
    <div class="card mt-5">
        <div class="card-header" data-target="<%= result['_id'] %>" style="cursor: pointer;">
            <h5 class="card-title">
                <%= result['title'] %>
            </h5>
            <div class="card-subtitle mb-2 text-muted">
                <div>
                    <small>
                        Article: <a href="<%= result['url'] %>">
                            <%= result['url'] %>
                        </a>
                    </small>
                </div>
                <div>
                    <small>
                        Source: <a href="<%= result['origin'] %>">
                            <%= result['origin'] %>
                        </a>
                    </small>
                </div>
            </div>
        </div>

        <div class="collapse" id="<%= result['_id'] %>">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-auto">
                        <div class="nav flex-column nav-pills" id="<%= result['_id'] %>-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="<%= result['_id'] %>-plain-tab" data-toggle="pill"
                                href="#<%= result['_id'] %>-home" role="tab" aria-controls="<%= result['_id'] %>-home"
                                aria-selected="true">Plain Text</a>
                            <a class="nav-link" id="<%= result['_id'] %>-formatted-tab" data-toggle="pill"
                                href="#<%= result['_id'] %>-formatted" role="tab"
                                aria-controls="<%= result['_id'] %>-formatted" aria-selected="false">Formatted</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tab-content" id="<%= result['_id'] %>-tabContent">
                            <div class="tab-pane fade show active" id="<%= result['_id'] %>-home" role="tabpanel"
                                aria-labelledby="<%= result['_id'] %>-plain-tab">
                                <p class="card-text">
                                    <%= result['Cleaned Data'] %>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="<%= result['_id'] %>-formatted" role="tabpanel"
                                aria-labelledby="<%= result['_id'] %>-formatted-tab">
                                <%- result['content'] %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped" data-toggle="table">
                <caption class="mx-4 pb-0">News readbility scores from <%- dates.formattedStart %> to <%-
                            dates.formattedEnd %> for <%= result['url'] %>
                </caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Words</th>
                        <th scope="col">Characters</th>
                        <th scope="col">Sentences</th>
                        <th scope="col">Paragraphs</th>
                        <th scope="col">Syllables</th>
                        <th scope="col">Complex Syllables</th>
                        <th scope="col">Syllables/word</th>
                        <th scope="col">Flesch</th>
                        <th scope="col">Flesch Kincaid</th>
                        <th scope="col">Smog</th>
                        <th scope="col">Dale Chall</th>
                        <th scope="col">Coleman Liau</th>
                        <th scope="col">Gunning Fog</th>
                        <th scope="col">Spache</th>
                        <th scope="col">Automated Readability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= result['words'] ? result['words'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['characters'] ? result['characters'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['sentences'] ? result['sentences'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['paragraphs'] ? result['paragraphs'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['syllables'] ? result['syllables'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['complex polysillabic words'] ? result['complex polysillabic words'].toFixed(4)
                                : 'N/A' %>
                        </td>
                        <td>
                            <%= result['word syllables'] ? result['word syllables'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['Flesch'] ? result['Flesch'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['Flesch Kincaid'] ? result['Flesch Kincaid'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['Smog'] ? result['Smog'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['Dale Chall'] ? result['Dale Chall'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['Coleman Liau'] ? result['Coleman Liau'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['Gunning Fog'] ? result['Gunning Fog'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['Spache'] ? result['Spache'].toFixed(4) : 'N/A' %>
                        </td>
                        <td>
                            <%= result['Automated Readability'] ? result['Automated Readability'].toFixed(4) : 'N/A' %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% }); %>

        <script>
            $('.card').on('click', '.card-header', (e) => {
                const target = $(e.currentTarget).data('target');
                $(`#${target}`).collapse('toggle')
            })
        </script>