<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('../partials/styles'); -%>
        <%- style %>
        <style>
            img {
                max-width: 100%;
            }
        </style>
    </head>

    <body>
        <main class="mt-4">
            <div class="container-fluid p-0">
                <div class="col">
                    <%- body %>
                </div>
            </div>
        </main>

        <%- include('../partials/scripts'); -%>
        <%- script %>
    </body>
</html>